<font size=3>
<strong>
<h1 align=left>島大百科</h1>
</strong>
</font>

<font size=3>
<h1 align=center>新規作成</h1>
</font>

<%= render 'form', article: @article %>

<font size=3>
<div align=left>
<%= link_to '戻る', articles_path %>
